{% extends 'forum/base.html' %}
{% load static %}
{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="firstline">
                <div class="name"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></div>
                <div class="category"><a href="">{{ post.cat }}</a></div>
                <div class="user"><a href="">{{ post.user }}</a></div>
            </div>
            <div class="secondline">
                {% if post.photo %}
                <div class="img"><img src="{{ post.photo.url }}" width="150px" height="150px"></div>
                {% endif %}
                <div class="text">{{ post.content|truncatewords:150 }}</div>
            </div>
        </div>
    {% endfor %}
{% endblock %}